* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  max-width: 1170px;
  font-family: "montserrat", sans-serif;
  background-image: url(/src/img/7e4ae44f298fc237036324a76aacc0a0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

body::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.main_container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.inputs_block {
  background-color: rgba(24, 24, 24, 0.849);
  border-radius: 4px;
  max-width: 280px;
  margin: auto;
  z-index: 1;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #fff;
  text-shadow: 2px 4px rgba(24, 24, 24, 0.849);
  font-size: 2em;
}

h5 {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}

h6 {
  text-align: center;
  margin-top: 4px;
  font-size: 14px;
  color: #ffffff;
  font-weight: lighter;
}

/* .select_month {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 15px 0px;
  position: relative;
}

.select_month select{
  color: #a2ff6df1;
  text-align: center;
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  border: 1px solid #a2ff6df1;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
 }  */

/* .select_month::-ms-expand { display: none; } 
 .select_month:hover { border-color: #888; } 
 .select_month:focus { border-color: #aaa; 
 box-shadow: 0 0 1px 3px #a2ff6df1;
 box-shadow: 0 0 0 3px -moz-mac-focusring; 
color: #222;
 outline: none; 
} 
 .select_month option { font-weight:normal; } 
 *[dir="rtl"] .select_month, :root:lang(ar) .select_month, :root:lang(iw) .select_month { 
background-position: left .7em top 50%, 0 0; 
padding: .6em .8em .5em 1.4em; 
}  */

/* Стилизация выпадающего списка месяцев */

.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  display: block;
  margin-top: 5px;
  text-align: center;
  color: #a2ff6df1;
  text-align: center;
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  border: 1px solid #a2ff6df1;
  cursor: pointer;
}

.dropdown__button:focus,
.dropdown__button--active {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.527);
}

.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  /* Рисуем треугольник */
  width: 0;
  height: 0;
  border-width: 6.93px 4px 0 4px;
  border-color: #a2ff6df1 transparent transparent transparent;
  border-style: solid;
  /* Снимаем клик с треугольника */
  pointer-events: none;
}

.dropdown__list {
  height: 220px;
  overflow-y: scroll;
  text-align: center;
  font-size: 14px;
  color: #a2ff6df1;
  text-shadow: 2px 4px rgba(24, 24, 24, 0.849);
  font-weight: 600;
  display: none;
  position: absolute;
  left: 0;
  top: 52px;
  margin: 0;
  padding: 0;
  border: 1px solid #a2ff6df1;
  background: rgba(46, 46, 46, 0.952);
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  width: 100%;
  z-index: 999;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown__list-item:first-child {
  border-radius: 6px 6px 0 0;
}

.dropdown__list-item:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid #a2ff6df1;
}

.dropdown__list-item:hover {
  background: rgba(255, 255, 255, 0.212);
}

.dropdown__input-hidden {
  display: none;
}

.inputs_container {
  display: flex;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  margin: auto;
}

.input {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  margin: 5px auto 5px auto;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  border: 1px solid #ffffff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.total_numb {
  padding: 0px 15px 10px 15px;
  margin: 5px auto 5px auto;
}

.result_block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.result_input {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  width: 100%;
  width: 95px;
  padding: 8px 8px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  border-color: #a2ff6df1;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.total {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  width: 100%;
  padding: 10px 15px;
  margin: 5px auto 5px auto;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  border: 1px solid #ffffff;
  border-bottom: 2px solid #a2ff6df1;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.range_container {
  max-width: 280px;
  color: #ffffff;
  margin: 10px 0px 3px 27px;
}

input[type='range'] {
  overflow: hidden;
  width: 200px;
  border-radius: 2px;
  -webkit-appearance: none;
  background-color: #ffffff;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 14px;
  -webkit-appearance: none;
  color: #a2ff6df1;
  margin-top: -1px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 999;
  border: 2px solid #252525ee;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #a2ff6df1;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: -200px 0 0 200px #a2ff6df1;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
/* /* input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
/* }  */

input[type="range"]::-moz-range-progress {
  background-color: #a2ff6df1;
}

input[type="range"]::-moz-range-track {
  background-color: #a2ff6df1;
}

input[type="range"]::-ms-fill-lower {
  background-color: #a2ff6df1;
}

input[type="range"]::-ms-fill-upper {
  background-color: #a2ff6df1;
}

span {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin: 0px 0px 0px 110px;
}

.percent {
  margin: 0;
}